{# src/VF/CrotoyBundle/Resources/views/Crotoy/accueil.html.twig #}

{% extends "VFCoreBundle::layoutCore.html.twig" %}
{% block crotoy %}
    {% block accueil %}
         <section class = "col-lg-10">
            <h2>Bienvenue dans la maison du Crotoy !</h2>
             <img src="http://localhost/Crotoy/web/images/vue_aerienne.JPG" alt="vue_aérienne" width="600" height="480">
        <section >
    {% endblock %}
{% endblock %}