{# src/VF/CrotoyBundle/Resources/views/Default/photos.html.twig #}

{% extends "VFCrotoyBundle::layoutCrotoy.html.twig" %}



{# {% block menu %} {{ render(controller("VFCrotoyBundle:Crotoy:menu")) }} {% endblock   #}
 
 
 {% block crotoy %}   
    {% block photos %}
	<div class =" container ">
	<section class="row">
		{% for f in liste %}
			<div class ="col-xs-4 col-sm-3 col-md-2"><img src="http://localhost/Crotoy/web/images/{{ f }}" alt="{{ f }} " width="100" height="80" class ="img-thumbnail"></div>
		{% endfor %}
	</section>
	</div>
    {% endblock %}
 {% endblock %}
