{# src/VF/CrotoyBundle/Resources/views/Habiter/accueil.html.twig #}

{% extends "VFCrotoyBundle::layoutHabiter.html.twig" %}

{% block habiter %}
    <h2>Guide pratique</h2>
	<p>Mettre ici le guide pratique écrit au Crotoy pour arrivée et départ</p>
	
	
	<div>
		<a class="btn btn-info" href="{{ path('vf_crotoy_accueil'
		) }}">Accueil du site</a> 
	</div>

	 
	
{% endblock %}





