{% extends "VFCrotoyBundle::layoutHabiter.html.twig "%}


{% block menu_user %}{% endblock %}




{% block menu_reservation %}{% endblock %}
{% block menu_personne %}{% endblock %}


{% block principal %}

	<div> 
		<h2>Internet, TV, téléphone</h2>
		</br>
		<h3>Internet</h3>
		<p>Le Domino d'Orange, petite boîte noire, sert de routeur WIFI pour l'accès à Internet, avec des forfaits de données chargeables.</p>
		<p>Ceux-ci s'achètent à raison d'1G pour 14 j , à la papèterie du Crotoy: recharge "Let's Go" d'Orange à 10 Euros la pièce.</p>
		</br>
		<p>Ceux-ci s'achètent à raison d'1G pour 14 j , à la papèterie du Crotoy: recharge "Let's Go" d'Orange à 10 Euros la pièce.</p>
		</br>
		<h3>TV</h3>
		<p>On peut regarder des DVD, mais pas la TV</p>
		
		</br>
		<p> mettre ici de quoi renseigner sur l'utilisation de Domino et les recharges internet, etc</p>
	</div>


{% endblock %}