{# src/VF/BlogBundle/Resources/views/Article/delete.html.twig #}


{% extends "VFBlogBundle::layoutBlog.html.twig" %}

{% block body_blog %}

  <h2>Supprimer un commentaire </h2>

  <p>
    Etes-vous certain de vouloir supprimer {{ commentaire.titre }}?
  </p>

  
  {# On met l'id de la personne dans la route de l'action du formulaire #}
  <form action="{{ path('vf_commentaire_delete', { 'id': commentaire.id }) }}" method="post">
    
    {# Ici j'ai écrit le bouton de soumission à la main #}
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {# Ceci va générer le champ CSRF #}
    {{ form_rest(form) }}
  </form>
  
  <div class="col-sm-8">
      <nav>
		  <div class="btn-group">
            <a class="btn btn-info" href="{{ path('vf_blog_accueil') }}">Retour</a> 
		  </div>
		
      </nav>
	</div>
  
{% endblock %}